<div class="page-header text-center">
  <div class="row">
    <div class="col-md-4">
      {{#link-to 'questions' tagName="h1"}}Q & A{{/link-to}}
    </div>
    {{#if notAskingQuestion}}
      <div class="col-md-4" {{action 'askQuestion'}}>
        {{#link-to 'ask-question' class="btn btn-primary" role="button"}}Ask a Question{{/link-to}}
      </div>
    {{/if}}
  </div>
</div>

<div class="row">
    <div class="col-md-4">
    {{#each question in this.questions itemController='question'}}

        <div class="question" {{action 'questionClicked'}}>
          {{#link-to 'question-details' question.id tagName="span" class="lead"}}
            <strong>{{question.name}}</strong> asks: {{question.question}}
          {{/link-to}}
        </div>
    {{/each}}
    </div>

    {{#if questionClicked}}
      <div class="col-md-8">
        {{outlet 'question-details'}}
      </div>
    {{/if}}

</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{outlet 'ask-question'}}
  </div>
</div>
