<div class="page-header text-center">
  <div class="row">
    <div class="col-md-4">
      {{#link-to 'questions' tagName="h1"}}Q & A{{/link-to}}
    </div>
    {{#if notAskingQuestion}}
      <div class="col-md-4" {{action 'askQuestion'}}>
        {{#link-to 'ask-question' class="btn btn-primary" role="button"}}Ask a Question{{/link-to}}
      </div>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {{#each question in this.questions itemController='question'}}

      <div class="question">

            <span {{action 'questionClicked'}}>
              {{#link-to 'question-details' question.id tagName="p" class="lead"}}
                <strong>{{question.name}}</strong> asks: {{question.question}}
              {{/link-to}}
            </span>

        <div class="no-hover">
          {{#if question.clicked}}
            {{#link-to 'edit-question' question.id class="btn btn-primary"}}
              Edit Question
            {{/link-to}}
            <div>
              <p>{{question.description}}</p>
              {{outlet 'question-details'}}
            </div>

            {{#if question.notReplying}}
              <div {{action 'answer'}}>
                {{#link-to 'new-answer' question.id class="btn btn-primary" role="button"}}Reply{{/link-to}}
              </div>
            {{else}}
              <div>
                {{outlet 'new-answer'}}
              </div>
            {{/if}}

          {{/if}}
        </div>

      </div>

    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{outlet 'ask-question'}}
  </div>
</div>
